#events_index {
	#navbar-workup {
	  .navbar-nav, .navbar-toggle {
	    margin-top: 15px;
	  }
	}
	header   {
    background: image-url("agenda-emploi.png") repeat fixed;
    min-height: 300px;
    margin-bottom: 30px;
	    h1 {
	      margin-top: 30px;
	      padding-top: 90px;
	      font-size: 60px;
	      color: white;
	    }
	    a.btn {
			margin-top: 20px;
			margin-bottom: 30px;
			border-width: 2px;
	    }
	}
	main {
		.filter, .events {
			padding-left: 20px;
			padding-right: 20px;
		}
		#filter-event {
			padding: 0px, 20px;
			.form-group {
				width: 100%
			}
			select, input {
				width: 100%;
			}
			.form {
				margin-bottom: 0;
			}
		}
		.events {
			span.date {
					font-family: $my-font;
					font-size: 20px;
					color: white;
					background-color: $purple;
					padding: 5px 10px;
				}
			.event-item {
				padding-top: 10px;
				padding-bottom: 10px;
				p, h2 {
					margin: 0;
				}
				p.time {
					padding-left: 10px;
					font-family: $my-font;
					font-size: 20px;
					color: #777777;
				}
				p.content-title {
					font-size: 14px;
					color: #777777;
				}
				h2 {
					padding-bottom: 5px;
				}
			}
		}
	}
}