#events_show {
	#navbar-workup {
	  .navbar-nav, .navbar-toggle {
	    margin-top: 15px;
	  }
	}
	header   {
    background: image-url("search.png") repeat fixed;
    min-height: 300px;
    margin-bottom: 20px;
	    h1 {
	      margin-top: 60px;
	      padding-top: 90px;
	      font-size: 60px;
	      color: white;
	    }
	}
	section {
		margin-top: 50px;
		margin-bottom: 50px;
		#description {
			min-height: 418px;
			#category-btn {
				font-size: 12px;
				font-style: italic;
				color: white;
				margin-top: 10px;
				margin-bottom: 35px;
				span.cat-btn {
					background-color: $purple;
					padding: 5px 10px;
				}
				span.admin-btn a {
					color: white;
					background-color: $gray;
					padding: 5px 10px;
					&:hover {
					  background-color: $gray-darker;
					}
				}
			}
			#writer {
				margin-top: 20px;
			  span {
			  margin-top: 20px;
			  margin-bottom: 30px;
			  font-size: 12px;
			  }
			  img {
			    width: 30px;
			    margin-right: 10px;
			  }
			}
		}
		#content-event, #price, #date, #lieu, #organiser {
				p:first-child {
					font-weight: bold;
					font-size: 16px;
					color: black;
				}
				p, span {
					color: $gray-light;
					font-weight: normal;
					margin-bottom: 0;
				}
				a {
					color: $blue;
				}
			}
	}
	aside {
		background-color: white;
	}
}