#events_new, #events_edit {
	#navbar-workup {
	  .navbar-nav, .navbar-toggle {
	    margin-top: 15px;
	  }
	}
	div.alert {
	  top: 60px;
	}
	header   {
    background: image-url("changerdeboite.png") repeat fixed;
    min-height: 400px;
    margin-bottom: 20px;
	    p {
	      margin-top: 60px;
	      padding-top: 125px;
	      font-size: 60px;
	      color: white;
	      font-family: $my-font;
	      text-align: center;                                                                                                                                                                                                                                   bottom: 30px;
	    }
	 }
	 section {
		ul {
		  list-style-type: none;
		  padding-left: 0px;
		}
		textarea#event_description {
			height: 507px;
		}
		ul.wysihtml5-toolbar {
			a.btn-default {
				font-size: 14px;
				margin: 5px 0px;
			}
  		}
		input[value="Créer l'événement"], input[value="Modifier l'événement"] {
			width: 100%;
			margin-top: 0;
			margin-right: 10px;
		}
		#btn-enter {
			margin-right: 10px;
			margin-left: 10px;
		}
		[type="checkbox"] + label {
			font-weight: normal;
		}
	}
}