<div id="event-banner" class="white-block text-center">
  <p class="event-title">Le WIP Festival</p>
  <p class="event-subtitle">5 jours pour vivre sa recherche d'emploi autrement</p>
  <%= link_to "Le programme", "http://www.w-i-p.fr/", class: "btn btn-transparent", target: "_blank"  %>
</div>