<div id="concours" class="text-center">
  <p id="quoi">Un accès gratuit à Jobmaker pour trouver le job qui vous plaît, ça vous tente ?</p>
  <p id="quand">(Vite, c'est jusqu'au 20 Avril)</p>
  <%= link_to "Je tente ma chance", "http://eepurl.com/bUXYkH ", class: "btn btn-primary", id: "btn-concours", target: "blank" %>
</div>