<div id="rs" class="text-center">
  <p class="marketing-title">Suivez nos actualités emploi sur les réseaux sociaux</p>
  <ul class="list-inline">
      <li id="fbk">
        <div id="facebook" class="pulse">
          <%= link_to "https://www.facebook.com/workuper/", target: "blank" do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </div>
      </li>
      <li id="twt">
        <div id="twitter" class="pulse">
          <%= link_to "https://twitter.com/Workuper", target: "blank" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </div>
      </li>
      <li id="lkd">
        <div id="linkedin" class="pulse">
          <%= link_to "https://www.linkedin.com/company/workup-trouvez-votre-job-idéal", target: "blank" do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </div>
      </li>
    </ul>
</div>
