<div id="event" class="text-center">
  <p id="quoi">1 semaine au vert pour prendre le temps de réfléchir à votre avenir pro, ça vous tente ?</p>
  <p id="quand">(Vite, il n'y a que 12 places seulement !)</p>
  <%= link_to "Découvrir la Summer School", "http://www.1semainepourtrouversavoie.com/", class: "btn btn-primary", id: "btn-concours", target: "blank" %>
</div>