<div id="step">
  <% if params[:subcategory] == @subcategories[0] %>
    <p class="white"><b>Etape 1 : S'inspirer</b><br> Bravo ! Cette première étape n'est pas facile,
      elle demande une grande réflexion sur qui vous êtes et sur ce qui vous anime aujourd'hui. Nous vous avons sélectionné des sites, médias, blogs, histoires inspirantes pour vous montrer ce qu'il est possible de faire, ce que d'autres ont fait et comment ils y sont parvenus.
    </p>
  <% elsif params[:subcategory] == @subcategories[1] %>
    <p class="white"><b>Etape 2 : S'informer</b><br> C'est bon, vous êtes déterminé à vous lancer ? Vous avez compris qu'avoir un travail qui vous rend heureux, c'est possible, quelque soit votre situation ? Maintenant nous n'allons pas vous mentir, il va falloir y consacrer du temps et de l'énergie.  Heureusement, nous vous avons (un peu) facilité la tâche sur tous les sujets juridiques, administratifs et financiers.
    </p>
  <% elsif params[:subcategory] == @subcategories[2] %>
    <p class="white"><b>Etape 3 : Se Faire Aider</b><br>Ne vous inquiétez pas, vous n'êtes pas les seuls. Ce n'est pas toujours facile de savoir ce que l'on veut faire et quelles actions mettre en place pour y arriver. Heureusement, il existe de très bonnes structures d'accompagnement et experts pour vous aider à reprendre confiance en vous, faire ressortir votre créativité, définir vos objectifs professionnels et mettre en place des actions concrètes pour les atteindre. Un véritable soutien, seul ou en groupe. Allez-y, n'ayez pas peur, ils sont là pour vous.
    </p>
  <% elsif params[:subcategory] == @subcategories[3] %>
    <p class="white"><b>Etape 4 : Se Former</b><br> C'est bon, vous savez ce que vous voulez faire. Vous voulez acquérir de nouvelles compétences, devenir expert dans un domaine ou faire un virage à 180° ? Apprendre de nouvelles choses constamment, c'est le nerf de la guerre, c'est ce qui nous fait avancer et c'est ce qui nous motive. Aujourd'hui, il existe de nombreuses initiatives qui peuvent vous former et parfois même gratuitement (ou presque). Chez vous ou en centre de formation, il existe forcément des cours ou une formation pour vous.
    </p>
  <% elsif params[:subcategory] == @subcategories[4] %>
    <p class="white"><b>Etape 5 : Réseauter</b><br> Et non, réseauter n'est pas un gros mot. Créer, entretenir et développer son réseau est indispensable aujourd'hui pour multiplier les chances de trouver ou créer le job qui vous plaît. Aller à des événements, utiliser efficacement les réseaux sociaux, provoquer les rencontres, il est temps de vous lancer dans le grand bain !
    </p>
  <% elsif params[:subcategory] == @subcategories[5] %>
    <p class="white"><b>Etape 6 : Postuler</b><br>Vous y êtes presque, il est temps d'optimiser votre recherche, gagner en efficacité et faire savoir à tous les recruteurs que c'est vous qu'il faut embaucher, à vos futurs clients que c'est avec vous qu'il faut travailler. Découvrez les outils pour optimiser votre veille, pour faire un CV qui donne envie, pour trouver des clients qualifiés. A vous de jouer !
    </p>
  <% elsif params[:subcategory] == "Recruter" %>
    <p class="white"><b>Etape 6 : Recruter</b><br>Vous recherchez des associés pour lancer votre projet ? Vous avez besoin d'autres personnes compétentes et motivées pour intégrer votre structure et développer l'activité ? Recruter les bonnes personnes n'est pas facile mais pas de panique, il existe des structures et des sites qui font cela très bien !
    </p>
  <% elsif params[:subcategory] == @subcategories[6] %>
    <p class="white"><b>Etape 7 : Profiter</b><br>Un esprit sain dans un corps sain. Il est primordial de prendre du temps pour vous. Découvrez nos bons plans pour ne pas oublier de vous faire plaisir, vous défouler, vous évader pendant cette période de transition. C'est aussi le bon moment pour tester de nouvelles activités. Si vous êtes bien dans votre corps et votre tête, vous verrez ce sera plus simple alors prenez soin de vous.
    </p>
  <% else %>
  <% end %>
</div>