<div class="container" id="info">
  <div class="row">
    <div class="col-xs-12">
      <h1> Rédaction de l'article</h1>
      <!-- <p class="explaination">Vous pouvez partager tous les bons plans, adresses, sites web, blogs, formations, événements que vous aimez à la communauté</p> -->
    </div>
  </div>
</div>

<div id="form-new">
  <div class="container" id="ressource-form">
    <div class="row">
        <%= render "ressource_form" %>
    </div>
  </div>
</div>