<h1>Bravo, votre événement a été publié</h1>
<p>Vous pouvez le voir, le modifier ou le supprimer dans votre espace personnel :</p>
<p><%= link_to @event.title, "http://www.workuper.com/users/event" %></p>
<p>Et le partager sur vos réseaux sociaux.</p>
<p>Bonne journée,</p>
<p>L'équipe WorkUp</p>