<h1>Bienvenu chez WorkUp !</h1>

<p>
  Bonjour <%= @user.name %>,<br>
</p>
<p>
  Merci d'avoir rejoint la communauté des WorkUpers.<br>
  Nous espérons que notre sélection vous donnera de l'énergie, vous montrera tous les chemins possibles pour
  trouver le bonheur dans votre vie professionnelle.<br>
</p>
<p>
  Nous venons de lancer la plateforme et serions ravies d'avoir votre retour.<br>
  N'hésitez pas à nous partager les initiatives que vous aimez, celles que vous aimeriez trouver sur notre site,
  le type d'outils ou initiatives que vous recherchez, etc.<br>
</p>

<p>
  Vous remarquerez que la plupart des initiatives sont parisiennes mais nous avons bien l'intention de parler
  des initiatives au niveau national ! Aidez-nous à enrichir notre sélection :)<br>
</p>

<p>
  On vous souhaite une excellente journée.<br>
</p>

<p>
  Anissa & Charlotte<br>
  Co-fondatrices de WorkUp
</p>