#high_voltage_pages_show {
  #navbar-workup {
    .navbar-nav, .navbar-toggle {
      margin-top: 15px;
    }
  }
  .navbar-wagon {
    background-color: transparent;
    box-shadow: none;
    // décalage pour la barre de la newsletter
    margin-top: 35px;
  }
  div.alert {
    top: 37px;
  }

  // Menu en mobile
  @media screen and (max-width: 768px) {
    .navbar-wagon {
      .navbar-brand img, .navbar-brand svg {
        height: 30px;
      }
      // .navbar-brand, .navbar-brand:hover
      .navbar-header
       {
        display: block;
        color: $navbar-color;
        padding-top: 0;
        padding-bottom: 0;
        background: transparent;
        padding: 0;
      }
    }
  }
  .icon-bar {
    background-color: white;
  }

  // div.alert {
  //   top: 100px;
  // }

  // BOUTON SE CONNECTER =======
  #login {
    background-color: transparent;
    border: 1px solid white;
  }
  // Bannière ===============================================================

  img.bg, #dream-job-video {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg, #dream-job-video {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

  video#dream-job-video {
    filter: brightness(50%);
  }

  #desktop {
    #banner {
      h1 {
        margin-top: 200px;
        margin-bottom: 20px;
      }
      p {
        color: white;
        font-size: 20px;
      }
      .trouver-un-emploi {
        font-family: $header-font;
        font-size: 30px;
      }
      ul  {
        margin-bottom: 0px;
      }
      // ul#test-here {
      //   text-align: right;
      //   margin-right: 200px;
      // }
      img#step-arrow1 {
        margin-bottom: 20px;
      }
      p#test {
        font-family: $base-font;
        font-size: 16px;
        margin-top: 80px;
      }
    }
    #home-bar-newsletter {
      position: absolute;
      top: 0;
      background-color: rgba(0,0,0,0.4);
      text-align: right;
      color: white;
      width: 100%;
      height: 35px;
      input#mc-embedded-subscribe {
        margin-top: 5px;
        background-color: $blue;
        border: 1px solid $blue;
        color: white;
        font-size: 12px;
        border-radius: 3px;
        height: 25px;
        margin-right: 20px;
        &:hover {
          // background-color: $blue;
        }
      }
      #mce-EMAIL.email {
        font-size: 12px;
        font-family: $base-font;
        width: 300px;
        border-radius: 3px;
        height: 25px;
        border: 1px solid $blue;
        background-color: white;
      }
      #facebook a, #twitter a, #linkedin a {
        color: white;
        &:hover {
          color: $blue;
        }
      }
      .nl-home-title {
        font-size: 18px;
        font-family: $header-font;
      }
    }
  }


  .full{
      height: 100%;
  }

  .middle > *{
      display: inline-block;
      vertical-align: middle;
  }

  .full.middle:after{
      content: "";
      display: inline-block;
      height: 100%; width: 0;
      vertical-align: middle;
  }

  // ======= MOBILE ========
  #mobile {
    .content {
      h1 {
        margin-top: 180px;
        font-size: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }
      p {
        color: white;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
      }
    }
    #btn-footer {
      ul {
        margin-bottom: 0px;
        .btn {
          margin-bottom: 0px;
        }
        li {
          padding: 0px;
        }

        #btn-discover {
          position: fixed;
          bottom: 0;
          left: 0;
          border: 1px solid $blue;
          width: 50%;
        }
        #btn-login {
          position: fixed;
          bottom: 0;
          right: 0;
          width: 50%;
          background-color: white;
          color: $blue;
        }
        a#btn-login:hover {
          background-color: white;
          opacity: 0.8;
        }
      }
    }
    #home-bar-newsletter {
      position: absolute;
      top: 0;
      background-color: rgba(0,0,0,0.4);
      text-align: right;
      color: white;
      width: 100%;
      height: 35px;
      input#mc-embedded-subscribe {
        margin-top: 5px;
        background-color: $blue;
        border: 1px solid $blue;
        color: white;
        font-size: 12px;
        border-radius: 3px;
        height: 25px;
        margin-right: 15px;
      }
      #mce-EMAIL.email {
        font-size: 12px;
        font-family: $base-font;
        border-radius: 3px;
        height: 25px;
        border: 1px solid $blue;
        background-color: white;
        margin-top: 5px;
        color: black;
      }
      #facebook a, #twitter a, #linkedin a {
        color: white;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

html, body{
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}
