#high_voltage_pages_show {
  #navbar-workup {
    .navbar-nav, .navbar-toggle {
      margin-top: 15px;
    }
  }
  .navbar-wagon {
    background-color: transparent;
    box-shadow: none;
  }
  @media screen and (max-width: 768px) {
    .navbar-wagon {
      .navbar-brand img, .navbar-brand svg {
        height: 30px;
      }
      // .navbar-brand, .navbar-brand:hover
      .navbar-header
       {
        display: block;
        color: $navbar-color;
        padding-top: 0;
        padding-bottom: 0;
        background: transparent;
        padding: 0;
      }
    }
  }
  .icon-bar {
    background-color: white;
  }
  // Bannière ===============================================================

  img.bg, #dream-job-video {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg, #dream-job-video {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

  video#dream-job-video {
    filter: brightness(50%);
  }

  #banner {
    h1 {
      margin-top: 250px;
    }
    p {
      color: white;
      font-size: 20px;
      margin-bottom: 50px;
    }
    ul  {
      margin-bottom: 50px;
    }
  }

  .full{
      height: 100%;
  }

  .middle > *{
      display: inline-block;
      vertical-align: middle;
  }

  .full.middle:after{
      content: "";
      display: inline-block;
      height: 100%; width: 0;
      vertical-align: middle;
  }

  // ======= MOBILE ========
  #mobile {
    .content {
      margin-top: 100px;
      h1 {
        font-size: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }
      p {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    #btn-footer {
      ul {
        margin-bottom: 0px;
        .btn {
          margin-bottom: 0px;
        }
        li {
          padding: 0px;
        }

        #btn-discover {
          position: fixed;
          bottom: 0;
          left: 0;
          border: 1px solid $blue;
          width: 50%;
        }
        #btn-login {
          position: fixed;
          bottom: 0;
          right: 0;
          width: 50%;
        }
        a#btn-login:hover {
          background-color: white;
          color: $blue;
        }
      }
    }
  }
}

html, body{
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}
