#high_voltage_pages_show {
  #navbar-workup {
    .navbar-nav, .navbar-toggle {
      margin-top: 15px;
    }
  }
  .navbar-wagon {
    background-color: transparent;
    box-shadow: none;
    // décalage pour la barre de la newsletter
    margin-top: 35px;
  }
  div.alert {
    top: 37px;
  }

  // Menu en mobile
  @media screen and (max-width: 768px) {
    .navbar-wagon {
      .navbar-brand img, .navbar-brand svg {
        height: 30px;
      }
      // .navbar-brand, .navbar-brand:hover
      .navbar-header
       {
        display: block;
        color: $navbar-color;
        padding-top: 0;
        padding-bottom: 0;
        background: transparent;
        padding: 0;
      }
    }
  }
  .icon-bar {
    background-color: white;
  }

  // div.alert {
  //   top: 100px;
  // }

  // BOUTON SE CONNECTER =======
  #login {
    background-color: transparent;
    border: 1px solid white;
    &:hover {
      background-color: $blue;
      border: 1px solid $blue;
    }
    a {
      color: white;
    }
  }
  // ENLEVER LE ZINDEX DE LA MODAL =======
  .modal-backdrop {
    z-index: 0;
  }

  // Bannière ===============================================================

  #banner   {
    background: image-url("workup-trouver-un-emploi-qui-vous-plait.jpeg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 700px;
  }

  #home-desktop {
    #banner {
      padding-left: 15px;
      padding-right: 15px;
      h1 {
        margin-top: 200px;
        margin-bottom: 20px;
      }
      p {
        color: white;
        font-size: 20px;
      }
      .trouver-un-emploi {
        font-family: $header-font;
        font-size: 38px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
      }
      .animate-element {
        border-bottom: 3px solid #1ECBCA;
        font-weight: bold;
        // background-color: white;
        // color: #1ECBCA;
        // padding-left: 5px;
        // padding-right: 5px;
      }
      ul  {
        margin-bottom: 0px;
      }
      p#test {
        font-family: $base-font;
        font-size: 16px;
        margin-top: 80px;
      }
      li {
        a:active, a:focus {
          background-color: $blue;
          color: white;
        }
      }
      .fa-angle-down {
        font-size: 35px;
        color: white;
        &:hover {
          color: $blue;
        }
      }
      #arrow {
        border: solid white 2px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
      }
    }
  }
  #home-mobile {
    #banner {
      padding-left: 15px;
      padding-right: 15px;
      h1 {
        margin-top: 180px;
        margin-bottom: 20px;
        font-size: 40px;
      }
      p {
        color: white;
        font-size: 20px;
      }
      .trouver-un-emploi {
        font-family: $base-font;
        font-size: 22px;
        padding-bottom: 25px;
        padding-left: 0px;
        padding-right: 0px;
      }
      .animate-element {
        // border-bottom: 2px solid #1ECBCA;
        // font-weight: bold;
        background-color: white;
        color: #1ECBCA;
        padding-left: 5px;
        padding-right: 5px;
      }
      ul  {
        margin-bottom: 0px;
      }
      .btn {
        margin-top: 0px;
      }
      .fa-angle-down {
        font-size: 35px;
        color: white;
        &:hover {
          color: $blue;
        }
      }
      #arrow {
        border: solid white 2px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
      }
    }
  }

  #new {
    height: 50px;
  }
      // NL ===============================================================

  #home-bar-newsletter {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    text-align: right;
    color: white;
    width: 100%;
    height: 35px;
    input#mc-embedded-subscribe {
      margin-top: 5px;
      background-color: $blue;
      border: 1px solid $blue;
      color: white;
      font-size: 12px;
      border-radius: 3px;
      height: 25px;
      margin-right: 20px;
    }
    #mce-EMAIL.email {
      font-size: 12px;
      font-family: $base-font;
      width: 200px;
      border-radius: 3px;
      height: 25px;
      border: 1px solid $blue;
      background-color: white;
      color: $gray-light;
    }
    #facebook a, #twitter a, #linkedin a {
      color: white;
      &:hover {
        color: $blue;
      }
    }
    .nl-home-title {
      font-size: 18px;
      font-family: $header-font;
    }
  }

  // DERNIERES NEWS ET OFFRES ===============================================================

  .news_offres {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    p.home-subheader {
      margin-bottom: 25px;
    }
    .new {
      padding-left: 15px;
      padding-right: 15px;
    }
    h2 {
      margin-bottom: 5px;
      font-size: 16px;
    }
    .desktop-display-logo {
      img.logo {
        width: 60px;
      }
    }
    .mobile-display-logo {
      img.logo {
        width: 30px;
      }
    }

    .listing_ressources {
      margin-bottom: 30px;
      p {
        font-size: 14px;
        color: $gray_light
      }
    }
    ul {
      margin-top: 20px;
      // margin-left: 10px;
    }
  }
  // Comment ça marche ? ===============================================================

  #guide {
    background-color: white;
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .bot {
      padding-bottom: 30px;
      text-align : center;
    }
    #explication p {
      font-size: 16px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  p.rond {
    font-family: $my-font;
    font-size: 26px;
    color: white;
    background-color: $blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
  }

  p.action {
    font-size: 16px;
  }
  // Pourquoi WorkUp ===============================================================

  #notre-mission {
    background: image-url("initiative-pour-l-emploi.png") no-repeat fixed center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    min-height: 620px;
    p {
      color: white;
      font-size: 18px;
      font-family: $base-font;
      line-height: 1.5;
      padding: 40px;
    }
  }

  // Témoignages ===============================================================

  #temoignage {
    .container {
      padding-bottom: 50px;
    }
    .citation {
      padding: 20px 10px;
    }
    p.citation {
      font-size: 16px;
    }
  }

  #parceque {
    background: image-url("dream.jpg") no-repeat fixed center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    min-height: 620px;
    p {
      color: white;
      font-size: 18px;
      font-family: $base-font;
      line-height: 1.5;
      padding: 40px;
    }
  }

  // PRESSE
  #presse {
    padding-bottom: 40px;
    background-color: white;
    img {
      max-height: 100px;
      max-width: 150px;
      margin-bottom: 20px;
      padding: 15px;
    }
  }

  // ======= MOBILE ========
  #mobile {
    .content {
      h1 {
        margin-top: 180px;
        font-size: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }
      p {
        color: white;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
      }
    }
    #btn-footer {
      ul {
        margin-bottom: 0px;
        .btn {
          margin-bottom: 0px;
        }
        li {
          padding: 0px;
        }

        #btn-discover {
          position: fixed;
          bottom: 0;
          left: 0;
          border: 1px solid $blue;
          width: 50%;
        }
        #btn-login {
          position: fixed;
          bottom: 0;
          right: 0;
          width: 50%;
          background-color: white;
          color: $blue;
        }
        a#btn-login:hover {
          background-color: white;
          opacity: 0.8;
        }
      }
    }
    #home-bar-newsletter {
      position: absolute;
      top: 0;
      background-color: rgba(0,0,0,0.4);
      text-align: right;
      color: white;
      width: 100%;
      height: 35px;
      input#mc-embedded-subscribe {
        margin-top: 5px;
        background-color: $blue;
        border: 1px solid $blue;
        color: white;
        font-size: 12px;
        border-radius: 3px;
        height: 25px;
        margin-right: 15px;
      }
      #mce-EMAIL.email {
        font-size: 12px;
        font-family: $base-font;
        border-radius: 3px;
        height: 25px;
        border: 1px solid $blue;
        background-color: white;
        margin-top: 5px;
        color: black;
      }
      #facebook a, #twitter a, #linkedin a {
        color: white;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  #facebook a, #twitter a, #linkedin a {
    color: white;
    font-size: 18px;
    &:hover {
      color: $blue;
    }
  }

  // ANIMATION DU SOUS TITRE AVEC TYPED JS
  .typed-cursor{
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
}
