#pages_how {
  #navbar-workup {
    .navbar-nav, .navbar-toggle {
      margin-top: 15px;
    }
  }
  div.alert {
    top: 60px;
  }
  background-color: white;
  // Comment ça marche ?
  // ===============================================================

  #process   {
    background: image-url("favorites.jpg") repeat fixed;;
    min-height: 400px;
    p {
      margin-top: 60px;
      padding-top: 100px;
      font-size: 60px;
      color: white;
      font-family: $my-font;                                                                                                                                                                                                                                   bottom: 30px;
    }
  }
  h1 {
    margin-top : 11px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #guide {
    background-color: white;
    .container {
      padding-bottom: 50px;
    }

    .bot {
      padding-bottom: 30px;
      text-align : center;
    }
    #explication p {
      font-size: 16px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $gray-lighter;
      padding: 20px 20px;
      border-radius: 3px;
    }
    div#explication {
      padding-bottom: 50px;
    }
  }

  p.rond {
    font-family: $my-font;
    font-size: 26px;
    color: white;
    background-color: $purple;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 13px;
  }

  p.action {
    font-size: 16px;
  }

  // PAS CONVAINCU
  // ===============================================================

  #parceque {
    background: image-url("dream.jpg") no-repeat fixed center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    min-height: 620px;
    p {
      color: white;
      font-size: 18px;
      font-family: $base-font;
      line-height: 1.5;
      padding: 40px;
    }
  }
}