#pages_manifeste {
  #navbar-workup {
    .navbar-nav, .navbar-toggle {
      margin-top: 15px;
    }
  }
  div.alert {
    top: 60px;
  }
  background-color: white;
  // ENLEVER LE ZINDEX DE LA MODAL =======
  .modal-backdrop {
    z-index: 0;
  }

  // =============== BLOC IMAGE ET QUOTE
  #manifeste {
    background: image-url("initiatives-pour-lemploi.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    p {
      margin-top: 60px;
      padding-top: 100px;
      font-size: 60px;
      color: white;
      font-family: $my-font;                                                                                                                                                                                                                                   bottom: 30px;
    }
  }

  // =========== BLOC MISSION
  #mission {
    background-color: #F0EFEF;
    .white {
      padding: 10px 20px;
    }
  }
  #edito {
    p {
      text-align: justify;
      font-size: 16px;
    }
    // .paragraphe {
    //   padding-bottom: 25px;
    // }
    h2 {
      font-size: 28px;
      color: #6679ff;
      text-align: left;
      padding-bottom: 15px;
    }
  }

  // TOUJOURS PAS CONVAINCU =====================================

  #parceque {
    background: image-url("dream.jpg") no-repeat fixed center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    min-height: 620px;
    p {
      color: white;
      font-size: 18px;
      font-family: $base-font;
      line-height: 1.5;
      padding: 40px;
    }
  }

  // FOOTER
  // ======= SOCIAL MEDIA

  #social-media-pages {
    background: image-url("initiatives-pour-lemploi.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}