 #articles_show, #articles_index, #articles_category, #pages_manifeste, #pages_how, #pages_about, #pages_infographie {
  // =========== NEWSLETTER ET RS
  div#nl {
    text-align: center;
    background-color: white;
    padding: 50px 20px;
    p.info {
      padding-bottom: 20px;
    }
    input#mc-embedded-subscribe {
      margin-top: 5px;
      background-color: #6679ff;
      border: 1px solid #6679ff;
      color: white;
      font-size: 16px;
      border-radius: 3px;
      height: 35px;
      margin-right: 20px;
      font-family: $my-font;
    }
    #mce-EMAIL.email {
      font-size: 16px;
      font-family: $base-font;
      border-radius: 3px;
      height: 35px;
      border: 1px solid #6679ff;
      background-color: white;
      margin-right: auto;
      margin-left: auto;
    }
    #mce-EMAIL.email.desktop {
      min-width: 400px;
    }
    #mce-EMAIL.email.mobile {
      width: 300px;
    }
    ul {
    padding-left: 0px;
  }
    li {
      list-style: none;
    }
  }
  div#reseaux-sociaux {
    background-color: #F0EFEF;
    text-align: center;
    padding: 50px 20px;
    ul {
      margin-top: 40px;
      li {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        margin-right: 20px;
        a {
          color: #6679ff;
          font-size: 40px;
          &:hover {
            color: darken(#6679ff, 10%);
          }
          i {
            padding-top: 10px;
            font-size: 30px;
          }
        }
      }
    }
  }
}