<div class="container" id="info">
  <div class="row">
    <div class="col-xs-12">
      <h1>Le Blog</h1>
    </div>
  </div>
</div>

<div id="form-new">
  <div class="container" id="ressource-form">
    <div class="row">
        <%= render "new_form" %>
    </div>
  </div>
</div>