#ressources_index {

  margin-top: 60px;
  .navbar {
    z-index: 4000;
  }
  #navbar-workup {
    .navbar-toggle {
      margin-top: 15px;
      z-index: 4000;
    }
  }


  // ========= BANNIÈRE
  #banner {
    background: image-url('acteurs-emploi.png') repeat fixed;
    min-height: 400px;
    h1 {
      text-align: center;
      padding: 50px 10px;
      font-size: 54px;
    }
    #search-bar {
      text-align: center;
      margin-bottom: 50px;
      li#tout {
        background-color: white;
        a {
          color: $blue;
        }
      }
    }
  }

  // ======== LEFT SIDE
  #left-side {
    #tag-filter {
      margin-top: 30px;
      p#filter-title {
        color: $blue;
        padding-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding-left: 0px;
      }
      .active {
        background-color: $blue;
        color: white;
        a#btn-grey {
          color: white;
        }
      }
    }
    p.left-title {
      color: #777777;
      text-align: center;
      font-weight: bold;
    }
    .btn-grey {
      background-color: #F0EFEF;
      color: #777777;
      font-size: 14px;
      padding: 5px 10px;
      &:hover {
        background-color: $blue;
        color: white;
        a#btn-grey {
          color: white;
        }
      }
      a#btn-grey {
        color: #777777;
        &:hover {
          color: white;
        }
      }
    }
    #newsletter {
      .btn {
        margin: 0px;
      }
    }
    #reseaux-sociaux {
      ul {
        margin: 0px;
      }
      i {
        font-size: 20px;
      }
      #facebook a, #twitter a, #linkedin a {
        color: $blue;
      }
    }
  }

  #search-bar {
    margin-top: 0px;
  }


  // =========  Affichage des Ressources  =========
  #right-side {
    padding-left: 20px;
    p.title {
      margin-bottom: 20px;
    }
  }
  .listing_ressources, .more_liked_ressources {
    margin-bottom: 30px;

    p {
      font-size: 14px;
      color: $gray_light
    }
    div.col-xs-1 {
      margin-top: 25px;
    }
    span.price, span.price {
      color:white;
      font-size: 10px;
      padding: 5px;
    }
    span#Promo {
      background-color: #6679ff;
    }
    span#Gratuit {
      background-color: $blue;
    }
    h2 {
      margin-bottom: 5px;
    }
    a:hover {
      color: $blue;
    }
    ul {
      margin-top: 20px;
      margin-left: 10px;

      p {
        font-size: 14px;
        color: $gray-light;
        padding-left: 5px;
        weight: bold;
      }
    }
  }

  // ===== AFFICHAGE DES LOGOS
  #right-side {
    img.logo {
      width: 60px;
    }
  }

  // VERSION MOBILE
  #mobile {
    h1 {
      font-size: 46px;
    }
    .item {
      ul {
        margin-left: 0px;
      }
    }
    #mobile-display {
      padding-right: 10px;
      padding-left: 10px;
      .title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 22px;
      }
      h2 {
        font-size: 16px;
      }
      p#content-title {
        font-size: 14px;
      }
      img.logo {
        width: 40px;
      }
    }
    #bloc {
      #tag-filter {
        margin-top: 30px;
        text-align: center;
        p#filter-title {
          color: $blue;
          padding-bottom: 10px;
        }
        ul {
          list-style-type: none;
          padding-left: 0px;
          li.btn-grey {
            margin-bottom: 5px;
          }
        }
        .active {
          background-color: $blue;
          color: white;
          a#btn-grey {
            color: white;
          }
        }
      }
      p.left-title {
        color: #777777;
        text-align: center;
        font-weight: bold;
      }
      .btn-grey {
        background-color: #F0EFEF;
        color: #777777;
        font-size: 14px;
        padding: 5px 10px;
        &:hover {
          background-color: $blue;
          color: white;
          a#btn-grey {
            color: white;
          }
        }
        a#btn-grey {
          color: #777777;
          &:hover {
            color: white;
          }
        }
      }
      #newsletter {
        .btn {
          margin: 0px;
        }
      }
      #reseaux-sociaux {
        ul {
          margin: 0px;
        }
        i {
          font-size: 20px;
        }
        #facebook a, #twitter a, #linkedin a {
          color: $blue;
        }
      }
    }
  }
}