#ressources_index {

  margin-top: 60px;
  .navbar {
    z-index: 4000;
  }
  #navbar-workup {
    .navbar-toggle {
      margin-top: 15px;
      z-index: 4000;
    }
  }
  .content {
    // margin-left: 200px;
    margin-top: -10px;
  }
  .sidebar {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
  }

  // ======== MOBILE / enlever le margin-top de 50px sur l'image sur mobile
  #img-mobile {
    margin-top: -50px;
  }

  // MOBILE / Search
  #mobile-search {
    margin-top: 40px;
    text-align: center;
    background: image-url('search.png') repeat;
    ul.dropdown-menu {
      width: 196px;
      top: 63px;
      left: -1px;
    }
  }

  #mobile-display {
    .title {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 16px;
    }
    p#content-title {
      font-size: 14px;
    }
  }


  // ======= Article coup de coeur
  #discover-favorites {
    margin-top: 50px;
    .owl-stage-outer {
      background-color: white;
    }
    div.img-ress {
      min-height: 350px;
      position: relative;
    }
    h2 {
      color: black;
      font-family: $my-font;
      font-size: 24px;
      padding-right: 10px;
      padding-left: 10px;
    }
    a:hover h2 {
      color: $blue;
    }
    p {
      font-size: 14px;
      text-align: justify;
      padding-right: 10px;
      padding-left: 10px;
    }
    a:hover p {
      color: $gray;
    }
    // Selection du carousel
    .owl-nav {
      text-align: center;
      font-size: 12px;
      color: $gray-light;
    }
    div.owl-prev, div.owl-next {
      display: inline-block;
      img {
        width: 18px;
        margin-left: 10px;
        margin-right: 10px;
      }
      font-family: 'Indie Flower', cursive;
    }
    div.owl-prev {
      position: absolute;
      top: 170px;
      left: 0;
    }
    div.owl-next {
      position: absolute;
      top: 170px;
      right: 0;
    }
    div.owl-controls {
      background-color: transparent;
    }
    span.glyphicon {
      color: white;
      font-size: 20px;
      padding: 0px 20px;
    }
  }


  // =========  Affichage des Ressources  =========
  .listing_ressources {
    margin-bottom: 30px;

    p {
      font-size: 14px;
      color: $gray_light
    }
    h2 {
      margin-bottom: 5px;
    }
    a:hover {
      color: $blue;
    }
    ul {
      margin-top: 20px;
      img.logo {
        width: 45px;
        vertical-align: middle;
        margin-top: -10px;
      }
      .votes, .comments {
        i {
          color: $gray;
          weight: bold;
        }
        .fa-heart {
          color: $blue;
        }
      }
      p {
        font-size: 14px;
        color: $gray-light;
        padding-left: 5px;
        weight: bold;
      }
      .comments a {
        cursor: initial;
        color: $gray-light;
        &:hover {
          color: $gray-light;
        }
      }
    }
  }


  .votes:active {
   color: $blue;
   -webkit-animation: scaleUp 0.5s ease forwards;
   -moz-animation: scaleUp 0.5s ease forwards;
   animation: scaleUp 0.5s ease forwards;
  }

   @-webkit-keyframes scaleUp {
   0% {
     -webkit-transform: scale(1);
    }
   50% {
     -webkit-transform: scale(1.1);
    }
   100% {
     -webkit-transform: scale(1);
    }
  }

  @-moz-keyframes scaleUp {
   0% {
     -moz-transform: scale(1);
    }
   50% {
     -moz-transform: scale(1.1);
    }
   100% {
     -moz-transform: scale(1);
    }
  }

   @keyframes scaleUp {
   0% {
     transform: scale(1);
    }
   50% {
     transform: scale(1.1);
    }
   100% {
     transform: scale(1);
    }
  }
}