// ENLEVER LE ZINDEX DE LA MODAL =======
.modal-backdrop {
  z-index: 0;
}

#signupModal {

  p, .form-inputs {
    font-family: $base-font;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 14px;
  }
  .modal-header{
    background-color: $blue;
    text-align: center;
    color: white;
    p#myModalLabel.modal-title.home-header {
      font-family: $my-font;
      font-size: 28px;
      color: white;
      padding-top: 0px;
      margin-top: 0px;
    }
    p {
      font-size: 14px;
      padding: 0px 20px;
      color: white;
      padding-top:10px;
    }
    ul#tab_form.nav.nav-pills {
      margin-top: 0px;
    }
    li {
      width: 49%;
    }
    #signup_button {
      border: 1px solid $blue;
      a, a:active, a:focus {
        color:white;
        &:hover {
          color: $blue;
          background-color: white;
        }
      }
    }
    #signin_button {
      border: 1px solid white;
      a, a:active, a:focus {
        color:white;
        &:hover {
          color: $blue;
          background-color: white;
        }
      }
    }
  }

  #signup, #signin {
    text-align: center;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
    .btn-facebook {
      margin: 10px 0px;
    }
    .btn-submit {
      margin: 5px 0px;
    }
    form {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
    }

    p#profil-creation {
      font-size: 16px;
      font-weight: bold;
      margin-top: 11px;
    }
    a#forget-pass {
      font-family: $base-font;
      text-transform: none;
      font-weight: 400;
      letter-spacing: 0;
      font-size: 12px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    p.cgu {
      font-size: 12px;
      margin-top: 10px;
    }
    p#close, p#back{
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;
    }
  }
  div.alert {
    top: -35px;
  }
  p.modal-title {
    font-family: $my-font;
    font-size: 28px;
  }
  li.reason {
    font-family: $base-font;
    font-size: 14px;
    width: 32%;
    text-transform: lowercase;
    font-weight: normal;
  }
  p.rond {
  font-family: $my-font;
  font-size: 26px;
  color: white;
  background-color: #6679ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  }
  p.modal-title {
    color: #6679ff;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .m-progress-bar {
    min-height: 1em;
    background: $blue;
    width: 5%;
}
}