#users_show {
  #navbar-workup {
    .navbar-nav, .navbar-toggle {
      margin-top: 15px;
    }
  }

  #data-profil   {
    background: image-url("changerdeboite.png") repeat fixed;
    min-height: 400px;
    p {
      margin-top: 60px;
      padding-top: 100px;
      font-size: 60px;
      color: white;
      font-family: $my-font;                                                                                                                                                                                                                                   bottom: 30px;
    }
  }
  #user-menu-desktop {
    a#personal-info {
      border-bottom: 2px solid $blue;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }

  p.home-subheader {
    color: white;
    background-color: $gray;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 0px;
  }

  #profil, #matching-info {
    border-top: 2px solid $blue;
    vertical-align: middle;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 20px;
    img {
      width: 100px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      // text-align: left;
    }
    p.cgu {
      font-size: 12px;
      padding-top: 0px;
    }
    p#close {
      padding-top: 0px;
    }
    #bio {
      // font-weight: bold;
      padding : 15 px;
      // color: $blue;
    }
  }
  #profil {
    text-align: center;
  }
  #matching-info {
    text-align: left;
    .left-column, .right-column {
      padding-left: 30px;
    }
    p {
      padding-top: 20px;
    }
    ul {
      // list-style-type: none;
      // padding-left: 0px;
    }
    .glyphicon {
      margin-right: 5px;
    }
  }
  .space {
    padding-right: 20px;
    padding-left: 20px;
  }
}

