#users_edit {
  #navbar-workup {
    .navbar-nav {
      margin-top: 15px;
    }
  }

  #data-profil   {
    background: image-url("data-profil.png") repeat fixed;
    min-height: 400px;
    p {
      margin-top: 60px;
      padding-top: 100px;
      font-size: 60px;
      color: white;
      font-family: $my-font;                                                                                                                                                                                                                                   bottom: 30px;
    }
  }
  #user-menu-desktop {
    a#personal-info {
      border-bottom: 2px solid $blue;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }

  p.home-subheader {
    color: white;
    background-color: $gray;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 0px;
  }

  #edit {
    background-color: white;
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 3px;
    p {
      font-size: 14px;
    }
    form {
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 10px;
    }
    input.email, input.password {
      margin-top: 5px;
      // width: 250px;
    }
    h1 {
      font-size: 30px;
    }
  }
  p#important {
    color: red;
  }
  .form-actions {
    text-align: center;
  }
  #delete-account, #avatar {
    text-align: center;
  }
}