<p>Le Formulaire de la Treebu</p>

<div id="treebu-desktop" class="hidden-xs hidden-sm hidden-md">
  <iframe src="http://www.latreebu.com/partenaires/workup.html"
  width="800" height="450" scrolling="no" frameborder="0">
    <p>Votre navigateur ne supporte pas l'élément iframe</p>
  </iframe>
</div>

<div id="treebu-tablette" class="visible-md">
  <iframe src="http://www.latreebu.com/partenaires/workup.html"
  width="600" height="450" scrolling="no" frameborder="0">
    <p>Votre navigateur ne supporte pas l'élément iframe</p>
  </iframe>
</div>

<div id="treebu-mobile-sm" class="visible-sm">
  <iframe src="http://www.latreebu.com/partenaires/workup.html"
  width="450" height="450" scrolling="no" frameborder="0">
    <p>Votre navigateur ne supporte pas l'élément iframe</p>
  </iframe>
</div>

<div id="treebu-mobile-xs" class="visible-xs text-center">
  <iframe src="http://www.latreebu.com/partenaires/workup.html"
  width="250" height="450" scrolling="no" frameborder="0">
    <p>Votre navigateur ne supporte pas l'élément iframe</p>
  </iframe>
</div>