<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>Modification de votre événement</p>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="row">
			<%= render "event_form" %>
		</div>
	</div>
</section>

<footer>
	<%= render "pages/footer" %>
</footer>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"93a8a8570acd0e6bdaf4f34e7","lid":"0bc7af57cb"}) })</script>