<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>Création d'un événement</p>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="row">
			<%= render "event_form" %>
		</div>
	</div>
</section>

<footer>
	<%= render "pages/footer" %>
</footer>