<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Votre événement</h1>
				<p class="subtitle-event">Partagez un événement que vous organisez ou que vous voulez partager à la communauté</p>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="row">
			<%= render "event_form" %>
		</div>
	</div>
</section>

<footer>
	<%= render "pages/footer" %>
</footer>