<div id="just-beginning" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">RECEVEZ LA CRÈME DE LA CRÈME</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-1 col-xs-10 padded">
        <p>Une fois par semaine, nous vous envoyons les meilleures initiatives, événements, conseils, témoignages pour vous aider à trouver un job dans lequel vous vous épanouirez. Que vous soyez à la recherche d'un emploi, encore en poste ou en création d'entreprise, nos contenus vous donneront de l'inspiration et des astuces concrètes pour passer à l'action !</p>
      </div>
      <div class="col-xs-offset-3 col-xs-6">
        <!-- Mailchimp Form -->
        <div id="mc_embed_signup form-group">
          <form action="//rocks.us10.list-manage.com/subscribe/post?u=93a8a8570acd0e6bdaf4f34e7&amp;id=385b3b77fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" name="EMAIL" class="email form-control text-center" id="mce-EMAIL" placeholder="votrecontact@gmail.com" required><br>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>