<% content_for(:title) do %>
  Trouvez le job qui vous convient | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Notre mission : Vous montrer les outils qui existent pour vous aider à trouver le job de vos rêves
<% end %>

<div id="process" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="home-header">COMMENT CA MARCHE ?</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <h1 class="home-header">PLUS QU'UNE BOITE À OUTILS</h1>
      </div>
      <div class="col-xs-3 trait"></div>
    </div>
  </div>
</div>

<div id="desktop">
  <div id="guide-caroussel"></div>

  <div id="guide" class="text-center">
    <div class="container">
      <div class="row">
        <div id="explication" class="col-sm-12 text-center">
          <p>
            Parce qu'il n'est pas toujours facile de s'y retrouver, nous testons des outils, des formations, des ateliers, des cours, des MOOCs, lisons des articles, des magazines, des blogs, des livres, visionnons des vidéos et rencontrons des acteurs de l'emploi, la reconversion, la création d'entreprise, pour vous offrir une sélection adaptée à vos besoins et vous faire découvrir des initiatives de qualité.</p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond"><i class="fa fa-heart"></i></p>
            <p class="action"><b>Découvrez les nouvelles initiatives</b><br> que nous avons testé et enregistrez les dans vos favoris</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond"><i class="fa fa-hand-peace-o"></i></p>
            <p class= "action"><b>Bénéficiez des offres spéciales</b><br> que nous négocions pour vous aider à passer à l'action</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond"><i class="fa fa-calendar-o"></i></p>
            <p class= "action"><b>Découvrez les événements</b><br> dédiés à la transition professionnelle qui ont lieu près de chez vous</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond"><i class="fa fa-pencil"></i></p>
            <p class= "action"><b>Accédez à des conseils concrets</b><br> à travers notre blog et nos accompagnements individuels</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div id="parceque" class="text-center">
    <div class="container block">
      <div class="row">
        <div class="col-xs-12">
          <h2>Toujours pas convaincu(e) ?<h2>
          <p>
            <b>Saviez-vous que vous pouviez :</b><br>
            Tester un métier pendant une journée avec un artisan ?<br>
            Bénéficier de témoignages variés de la part de professionnels sur leur métier au quotidien ?<br>
            Rencontrer d'autres chercheurs d'emploi et vous entraider dans vos recherches ?<br>
            Découvrir des histoires de personnes comme vous qui ont "monté leur boite" ?<br>
            Découvrir les nouveaux sites de recrutement qui cartonnent ?<br>
            ...
          </p>
          <%= link_to "Je suis convaincu(e) !", ressources_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<%= render "pages/nl_reseaux_sociaux_blog" %>

<%= render "pages/footer" %>
