<% content_for(:title) do %>
  Trouvez le job qui vous convient | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Notre mission : Vous montrer les outils qui existent pour vous aider à trouver le job de vos rêves
<% end %>

<div id="process" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="home-header">COMMENT CA MARCHE ?</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <h1 class="home-header" >Trouvez le job qui vous convient</h1>
      </div>
      <div class="col-xs-3 trait"></div>
    </div>
  </div>
</div>

<div id="desktop">
  <div id="guide-caroussel"></div>

  <div id="guide" class="text-center">
    <div class="container">
      <div class="row">
        <div id="explication" class="col-sm-12 text-center">
          <b><p>
            Que vous soyez à la recherche d'un emploi, en poste ou en création d'entreprise, nous voulons vous donner toutes les informations et les bons outils pour vous accompagner dans votre réflexion et vous aider à trouver le job qui vous convient.
          </p></b>
          <p class="hidden-xs">
            Parce qu'il n'est pas toujours facile de s'y retrouver, nous testons des outils, des formations, des ateliers, des cours, des MOOCs, nous lisons des articles, des magazines, des blogs, des livres, nous visionnons des vidéos et rencontrons les acteurs de l'emploi pour vous offrir une sélection adaptée à vos besoins et vous faire découvrir des initiatives de qualité.</p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">1</p>
            <p class="action"><b>Découvrez les nouvelles initiatives</b><br> que nous avons testé et enregistrez les dans vos favoris</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">2</p>
            <p class= "action"><b>Bénéficiez des offres spéciales</b><br> que nous négocions pour vous aider à passer à l'action</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">3</p>
            <p class= "action"><b>Poussez votre réflexion</b><br> en contactant les initiatives, utilisant les outils, allant aux événements, etc.</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">4</p>
            <p class= "action"><b>Restez informé des nouveautés</b><br> en vous abonnant à notre newletter ou en nous suivant sur les réseaux sociaux</p>
        </div>
      </div>
      </div>
    </div>
  </div>

<!--   <div class="text-center">
    <div class="container padded">
      <div class="row">
        <div class="col-xs-3 trait"></div>
        <div class="col-xs-6">
          <p class="home-header">LES DERNIERES DECOUVERTES</p>
        </div>
        <div class="col-xs-3 trait"></div>
      </div>
    </div>
  </div>

  <div id="discover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="owl-carousel">
            @ressources = Ressource.order("created_at desc").limit(6) %>
            @ressources.each do |ressource| %>
              <div>
                <div class="item">
                  <div class="img-ress" style="background: url( ressource.picture.url %>); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-filter: brightness(100%); -moz-filter: brightness(100%);">
                  </div>
                  <link_to ressource_path(ressource.id), {controller: "ressources", action: "show" } do %>
                    <h2>ressource.title %></h2>
                    <p><ressource.description %></p>
                  end %>
                </div>
              </div>
            end %>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div id="parceque" class="text-center">
    <div class="container block">
      <div class="row">
        <div class="col-xs-12">
          <h2>Toujours pas convaincu(e) ?<h2>
          <p>
            <b>Saviez-vous que vous pouviez :</b><br>
            Tester un métier pendant une journée avec un artisan ?<br>
            Bénéficier de témoignages variés de la part de professionnels sur leur métier au quotidien ?<br>
            Rencontrer d'autres chercheurs d'emploi et vous entraider dans vos recherches ?<br>
            Découvrir des histoires de personnes comme vous qui ont "monté leur boite" ?<br>
            Découvrir les nouveaux sites de recrutement qui cartonnent ?<br>
            ...
          </p>
          <%= link_to "Je suis convaincu(e) !", ressources_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<%= render "pages/nl_block" %>

<%= render "pages/footer" %>
