<div class="container" id="page_mentions">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="white">Mentions Légales de WorkUp</h1>
      <div id="edition" class="white">
        <p class="sub-title"><b>Editeur</b></p>
        <p>Ce site est édité par WorkUp :</p>
        <ul>
          <li>WorkUp</li>
          <li>71 avenue de Clichy</li>
          <li>75017 Paris</li>
        </ul>
        <p><b>Responsable de la publication :</b> Charlotte Cady, charlotte@workup.rocks</p>
      </div>
      <div id="hebergeur" class="white">
        <p class="sub-title"><b>Hébergeur</b></p>
        <p>Ce site est hébergé à partir de la plateforme Heroku :</p>
        <ul>
          <li>Heroku, Inc.</li>
          <li>321 11th Street</li>
          <li>San Francisco, CA</li>
          <li>http://www.heroku.com/contact</li>
        </ul>
      </div>
      <div id="confidentiel" class="white">
        <p class="sub-title"><b>Confidentialité</b></p>
        <p>
          Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. <b>WorkUp décline toutes responsabilités en cas d’erreur ou d’omission dans la publication de ses informations.</b>
        </p>
        <p>
          En cas d’erreur ou si vous souhaitez demander la rectification d’informations, veuillez contacter WorkUp en remplissant le formulaire de contact en bas de la page « Contact ».
        </p>
        <p>
          Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
          <b>Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de WorkUp.</b>
        </p>
        <p>
          Les informations recueillies à l’inscription font l’objet d’un traitement informatique destiné à vous accompagner au mieux dans votre transition professionnelle à travers l’envoi de newsletters qualitatives. Le destinataire des données est l’association WorkUp.
        </p>
        <p>
          Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à WorkUp à l’adresse team@workup.rocks.
        </p>
        <p>
          Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
          <b>Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.</b>
        </p>
      </div>
    </div>
  </div>
</div>







