/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */
#banner {
  h1 {
    font-size: 60px;
    color: white;
  }
}

h1 {
  font-size: 40px;
  color: black;
}


h2 {
  font-size: 60px;
  color: white;
  // background-color: rgba(0, 0, 0, 0.498039);
}

.home-header {
  font-family: $my-font;
  font-size: 40px;
  color: $blue;
  // margin-top: 20px;
}

.home-subheader {
  font-family: $my-font;
  font-size: 30px;
  color: $blue;
}

p {
  font-size: 16px;
}

.little-header {
  font-family: $my-font;
  font-size: 20px;
  color: black;
}

.footer-header {
  font-family: $my-font;
  font-size: 25px;
  color: black;
  border-top: solid 1px $gray;
  border-bottom: solid 1px $gray;
}

p.title {
 // font-size: 26px;
 font-family: $my-font;
 // border-radius: 3px;
 padding: 10px;
 // padding-left: 15px;
 // margin-top: 60px;

 text-align: center;
 margin-top: 30px;
 margin-bottom: 50px;
 background-color: #FFF;
 font-size: 30px;
 color: $blue;
 border-top: 2px solid $blue;
 border-bottom: 2px solid $blue;
}
.first-title {
  margin-top: 0px;
}
.sub-title {
 font-family: $base-font;
 font-size: 18px;
 color: black;
 font-weight: bolder;
 letter-spacing: -1px;
 a {
  color: black;
  &:hover {
    color: $blue;
  }
 }
}
.content-title {
  font-size: 16px;
}
.title-description {
  font-family: $base-font;
  font-size: 16px;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

div.alert:not(.alert_connect_to_like) {
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
  z-index: 100000;
 }

.marketing-title {
  font-family: $header-font;
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 0px;
  color: white;
}