/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: white;
$navbar-hover-color: white;
$navbar-font-size: 20px;
$navbar-text-transform: uppercase;
$navbar-font-weight: 100;
$navbar-letter-spacing: 1px;
$navbar-font-family: $my-font;
$navbar-bg: black;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 20px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0px;
$navbar-border-bottom-color: $gray-lighter;
$navbar-border-top: 3px solid $blue;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: $blue;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 1px;
$navbar-btn-border: 1px solid $blue;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 1px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

#navbar-workup {
  z-index: 90000;
  .navbar {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-wagon {
    box-shadow: 0px 0px 2px black;
    background: $navbar-bg;
    font-family: $navbar-font-family;
    border: none;
    font-size: $navbar-font-size;
    text-transform: $navbar-text-transform;
    font-weight: $navbar-font-weight;
    letter-spacing: $navbar-letter-spacing;
    padding-left: $navbar-horizontal-padding;
    padding-right: $navbar-horizontal-padding;
    border-bottom: $navbar-border-bottom-width solid $navbar-border-bottom-color;
    border-top: $navbar-border-top;
    min-height: 0;
    transition: background 0.4s ease;

    .navbar-nav > li > a,
    .navbar-nav > .open > a,
    .navbar-nav > li > a:focus,
    .navbar-nav > .open > a:focus {
      outline: none;
      color: $navbar-color;
      line-height: $navbar-height;
      padding-top: $navbar-vertical-padding;
      padding-bottom: $navbar-vertical-padding;
      background-color: transparent;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > .open > a:hover {
      color: $navbar-hover-color;
      opacity: 0.8;
    }

    .navbar-nav > li > a#login,
    .navbar-nav > .open > a#login {
      margin-left: 10px;
    }

    .navbar-nav > li > a#login:hover,
    .navbar-nav > .open > a#login:hover {
      opacity: 1;
    }

    .navbar-brand,
    .navbar-brand:hover {
      outline: none;
      color: $navbar-color;
      padding-top: $navbar-vertical-padding;
      padding-bottom: $navbar-vertical-padding;
    }

    a#logo.navbar-brand {
      padding-top: 19px;
      padding-left: 10px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      padding-right: 10px;
    }

    .navbar-nav > li > a.btn {
      line-height: $navbar-btn-height;
      padding: 0 $navbar-btn-horizontal-padding;
      color: $navbar-btn-color;
      border-radius: $navbar-btn-radius;
      border: $navbar-btn-border;
      margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
      margin-bottom: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
      background-color: $navbar-btn-bg;
      font-size: $navbar-font-size;
      margin-bottom: 8px;
      &:hover{
        background-color: darken($blue, 10%);
        border: 1px solid darken($blue, 10%);
      }
    }

    .navbar-brand img, .navbar-brand svg {
      height: 32px;
      padding: 0px;
    }

    #logo {
      // font-family: $logo-font;
      // font-size: 40px;
      // color: white;
      // text-transform: lowercase;
      margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
      margin-bottom: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
    }

    .img-avatar{
      border: $navbar-profile-border-width solid $navbar-profile-border-color;
      box-shadow: 0 0 2px rgb(200, 200, 200);
      height: 40px;
      // $navbar-height - (2 * $navbar-profile-border-width);
      margin-right: 10px;
      margin-top: -10px;
      margin-bottom: 5px;
      border-radius: $navbar-profile-radius;
    }

    .navbar-toggle {
      border-color: #dddddd;
      width: 45px;
      background: transparent;
    }

    .navbar-nav > li > .dropdown-menu{
      border-radius: 0;
      // margin-top: 0px;
      font-family: $base-font;
      font-size: 14px;
      text-transform: none;
      letter-spacing: 0;
    }
  }

  .container-fluid {
    // height: 60px;
  }

  /* -------------------------------------
   * Navbar profile picture
   * ------------------------------------- */

  @media screen and (max-width: 768px) {
    .navbar-wagon {
      .navbar-brand img, .navbar-brand svg {
        height: 30px;
      }
      // .navbar-brand, .navbar-brand:hover
      .navbar-header
       {
        display: block;
        color: $navbar-color;
        padding-top: 0;
        padding-bottom: 0;
        background: $navbar-bg;
        padding: 0;
      }
    }
  }

  ul {
    margin-top: 15px;
  }


  // SOUS MENU DROPDOWN POUR PETITS ECRANS
  #bs-example-navbar-collapse-1.in {
    ul#little-screen {
      float: right;
      li.little-screen {
        float: left;
        a {
          font-size: 16px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
    ul.dropdown-menu {
      background-color: $gray-lighter;
    }
  }

  .dropdown-menu {
    i {
      width: 13px;
      margin-right: 10px;
    }
  }
  p#tagline {
    font-family: $base-font;
    font-size: 16px;
    color: white;
    text-transform: none;
    line-height: 0.9;
    padding-top: 15px;
    letter-spacing: 0;
  }

  // LIEN ACTIF JQUERY POUR LE MENU
}
body#ressources_index, body#ressources_category {
 #little-screen .active-solutions {
   border-bottom: 2px solid white;
  }
}
body#articles_index {
 #little-screen .active-articles {
   border-bottom: 2px solid white;
  }
}

body#pages_about, body#pages_how, body#pages_contact, body#pages_pro {
 #little-screen .active-about {
   border-bottom: 2px solid white;
  }
}

body#users_offer {
 #little-screen .active-offers {
   border-bottom: 2px solid white;
  }
}

// DROPDOWN MENU
#a-propos-menu {
  ul.dropdown-menu {
    margin: 15px;
    right: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

#connexion-dropdown {
  ul.dropdown-menu {
    margin-top: 0;
  }
}