#devise_registrations_edit {
  #navbar-workup {
    .navbar-nav {
      margin-top: 15px;
    }
  }

  background-color: $blue;
  margin-top: 100px;
  #edit {
    background-color: white;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 25px;
    border-radius: 3px;
    p {
      font-size: 14px;
    }
    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    form {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
    }
    input.email, input.password {
      margin-top: 5px;
      // width: 250px;
    }
    h1 {
      font-size: 30px;
    }
  }
  p#important {
    color: red;
  }
  .form-actions {
    text-align: center;
  }
  #delete-account, #avatar {
    text-align: center;
  }
  div.alert {
    top: -35px;
  }
}