#devise_sessions_create {
  #navbar-workup {
    .navbar-nav {
      margin-top: 15px;
    }
  }

  background-color: $blue;
  margin-top: 100px;

  #signin {
    text-align: center;
    background-color: white;
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 3px;
    p.details {
      font-size: 14px;
    }
    form {
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 10px;
    }
    input.email, input.password {
      margin-top: 5px;
      // width: 250px;
    }
    a#new-count.btn {
      margin: 0;
    }
    a#forgot-pass {
      font-size: 14px;
    }
  }
  div.alert {
    top: -35px;
  }
}