#devise_registrations_new {
  #navbar-workup {
    .navbar-nav {
      margin-top: 15px;
    }
  }

  background: image-url('eight_horns.png') repeat;
  margin-top: 100px;

  #pourquoi-se-connecter {
    background-color: $blue;
    color: white;
    p.home-header {
      font-size: 28px;
      color: white;
    }
    p {
      font-size: 16px;
      padding: 0px 20px;
    }
  }

  #signup {
    background-color: white;
    text-align: center;
    padding: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 3px;
    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    form {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
    }
    input.email, input.password {
      margin-top: 5px;
      // width: 250px;
    }
    .btn-facebook {
      background-color: rgb(59, 89, 152);
      color: white;
    }
    p.cgu {
      font-size: 12px;
      margin-top: 10px;
    }
    i {
      margin-top: 10px;
      color: $blue;
    }
    div.alert {
      top: -35px;
    }
  }
}