#devise_sessions_new {
  #navbar-workup {
    .navbar-nav {
      margin-top: 15px;
    }
  }

  background: image-url('eight_horns.png') repeat;
  margin-top: 100px;

  #pourquoi-se-connecter {
    background-color: $blue;
    color: white;
    p.home-header {
      font-size: 28px;
      color: white;
    }
    p {
      font-size: 16px;
      padding: 0px 20px;
    }
  }

  #signin {
    background-color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 3px;
    padding-bottom: 20px;
    h2 {
      font-size: 40px;
      color: black;
    }
    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    form {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
    }
    input.email, input.password {
      margin-top: 5px;
      // width: 250px;
    }
    div.checkbox {
      text-align: left;
    }
    a#new-count {
      border: 2px solid #1BB5B4;
      color: #1BB5B4;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    input.btn {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
  .btn-facebook {
    background-color: rgb(59, 89, 152);
    color: white;
  }
  div.alert {
    top: -35px;
  }
}