.white-block {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.white {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}