<p>
  Bonjour <%= @user.name %>,<br>
</p>
<p>
  Bienvenue dans la communauté des WorkUpers !<br>
  Nous espérons que notre sélection vous donnera de l'énergie, vous montrera tous les chemins possibles pour
  être épanoui(e) dans votre vie professionnelle.<br>
</p>
<p>
  N'hésitez pas à nous partager les outils ou initiatives que vous aimez et ceux que vous recherchez.<br>
  Nous mettons en ligne de nouvelles solutions toutes les semaines pour enrichir notre sélection, on vous encourage donc à revenir
  régulièrement sur WorkUp pour découvrir celles qui vous correspondent.
</p>

<p><b>N'oubliez pas de confirmer la création de votre compte en cliquant sur le lien ci-dessous : </b></p>

<p><%= link_to 'Confirmer mon Compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  On vous souhaite une belle journée.<br>
</p>

<p>
  Anissa & Charlotte<br>
  Co-fondatrices de WorkUp
</p>

<p>PS : votre aide est aussi la bienvenue ! N'hésitez pas à nous dire ce que vous pensez du site :)</p>

